@import "tailwindcss";

@theme {
  --color-gold: #DC5803;
  --color-gold-hover: #b08d4a;
  --color-dark: #0a0a0a;
  --color-dark-lighter: #111111;
}

@layer utilities {
  .dotted-leader {
    flex-grow: 1;
    border-bottom: 2px dotted rgba(255, 255, 255, 0.15);
    margin: 0 1rem;
    position: relative;
    top: -6px;
  }
}

body {
  background-color: var(--color-dark);
  color: #ededed;
}
